.crumb_navigation{
    width:980px;
    height:15px;
    padding:5px 10px 0 20px;
    Color:#333333;
    background:url('./images/navbullet.png');
    background-position: left;
    background-repeat: no-repeat;
    background-position:5px 6px;
    }
    .crumb_navigation a{
    Color:#0fa0dd;
    text-decoration:underline;
    }
    span.current{
    color:#0fa0dd;
    }
    